.App {
  /* text-align: center; */
  max-width: 40em;
  margin:0 auto;
  margin-top: 1em;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #282c34;
}

.App-header {
  display: flex;
  flex-direction: row;
  /* min-height: 100vh;
  align-items: center;
  justify-content: center; */
}

.HeaderTitle {
  flex-grow: 10;
  align-self: flex-start;
}

.PlusSign {
  align-self: flex-end
}

.ListItemView {
  margin-top: 0.6em;
}

.DragHandle {
  padding-left: 0.5em;
  padding-right: 1em;
}
